:global(body#homepage) {
  background-color: rgba($ui-green-0, 0.12);
  // overflow: hidden;
}

.image-b-l {
  height: 60vh;
}

.image-t-r {
  height: 90vh;
}

section {
  height: calc(100vh - var(--headerHeigth));

  :global(h1) {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 3rem;
    font-family: $font-stack-regular;
    font-weight: bold;

    // :global(span) {
    //   color: $ui-green-0;
    // }
  }

  a {
    background-color: $ui-green-0;
    border-radius: 1rem;
    padding: 0.8rem 2.3rem;
    font-size: 1.5rem;
  }

  @include md {
    :global(h1) {
      font-size: 4.5rem;
      line-height: 6rem;
    }

    p {
      margin: 0 0 10rem;
      font-size: 2.5rem;
      line-height: 3.5rem;
      max-width: 55rem;
    }

    a {
      border-radius: 1.5rem;
      padding: 0.5rem 4rem;
      font-size: 2.5rem;
      transition: all ease-in-out 0.4s;

      &:hover {
        background-color: darken($ui-green-0, 10%);
      }
    }
  }
}
