:global(body#homepage) {
  background-color: rgba($ui-green-0, 0.12);
  max-height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: var(--background);
}

section {
  height: calc(100vh - var(--headerHeigth));
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: start;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    :global(h1) {
      @include sm {
        font-size: 2.7rem;
        line-height: 3.5rem;
      }
      @include md {
        font-size: 4.5rem;
        line-height: 6rem;
      }

      font-family: $font-stack-regular;
      font-weight: bold;
      margin-bottom: 2rem;
    }

    p {
      @include sm {
        margin: 0 0 5rem;
        font-size: 2rem;
        line-height: 2.5rem;
        max-width: 100%;
      }
      @include md {
        margin: 0 0 10rem;
        font-size: 2.5rem;
        line-height: 3.5rem;
        max-width: 55rem;
      }
    }

    a {
      @include sm {
        border-radius: 1rem;
        padding: 0.8rem 2.3rem;
        font-size: 1.5rem;
      }
      @include md {
        @include transition;
        border-radius: 1.5rem;
        padding: 0.5rem 4rem;
        font-size: 2.5rem;
      }
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          background-color: darken($ui-green-0, 10%);
        }
      }
      color: $white;
      background-color: $ui-green-0;
    }
  }
}
