$ui-green-0: #486b3b;
$ui-blue-0: #77c0c5;
$ui-gray-0: #fff;
$ui-gray-1-light: #f7f8f9;
$ui-gray-1: #eff1f3;
$ui-gray-2-light: #d9dde1;
$ui-gray-2: darken(#d9dde1, 3);
$ui-gray-2-dark: darken(#d9dde1, 9.5);
$ui-gray-3-light: #b3bac3;
$ui-gray-3: darken(#b3bac3, 5);
$ui-gray-4: darken(#687787, 2.875);
$ui-gray-5-light: #4e5d6b;
$ui-gray-5: darken(#4e5d6b, 5);
$ui-gray-6-light: #344450;
$ui-gray-6: #1a2a34;
$ui-gray-7: #001018;
$white: $ui-gray-0;
$black: $ui-gray-6;
