section {
  padding-top: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .form__container {
    h1 {
      font-size: 5rem;
      font-weight: 500;
      color: $black;
      margin-bottom: 10rem;
    }
  }
}

:global(.toast .toast-content) {
  :global(.check) {
    fill: $ui-blue-0;
  }

  :global(.error) {
    fill: red;
  }

  .message {
    margin: 0 2rem;
    line-height: 2rem;
    font-size: 1.6rem;
    color: $black;
  }
}
