form {
  .form__inputs {
    @include sm {
      gap: 4rem 2rem;
    }

    @include md {
      gap: 4rem;
    }

    @include lg {
      gap: 7rem;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    label {
      @include sm-md {
        font-size: 1.8rem;
      }
      @include lg {
        font-size: 1.8rem;
      }

      font-weight: 500;

      span,
      sup {
        text-transform: initial;
        font-size: 1.3rem;
        color: $ui-green-0;
      }

      input {
        width: 100%;
        border-bottom: solid 0.1rem $ui-gray-4-light;
        background-color: transparent;

        &:focus {
          border-bottom: solid 0.1rem $black;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          transition: background-color 600000s 0s, color 600000s 0s;
        }
      }

      &.label--message {
        grid-column: 1 / span 2;
      }

      textarea {
        width: 100%;
        padding: 2rem 1.8rem;
        height: 14.5rem;
        background-color: rgba($ui-gray-7-light, 0.4);
        border-radius: 2.2rem;
        font-family: inherit;
      }

      input,
      textarea {
        @include sm {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }

        @include md {
          font-size: 1.5rem;
          line-height: 2rem;
        }
        display: block;
        margin-top: 1.5rem;
        color: $black;
        font-weight: 500;

        &::placeholder {
          @include transition;
          color: $ui-gray-4-light;
        }

        &:focus {
          @include transition;
          outline: none;
          &::placeholder {
            color: $black;
          }
        }
      }
    }
  }

  .terms {
    color: $ui-gray-4-light;
    font-size: 1.2rem;
    margin: 2rem 0 1rem;
  }

  button {
    @include sm-md {
      font-size: 1.8rem;
      line-height: 2rem;
      border-radius: 1rem;
    }
    @include lg {
      font-size: 2rem;
      line-height: 3rem;
      border-radius: 1.5rem;
    }

    @include transition;
    color: $white;
    background-color: $ui-green-0;
    padding: 0.5rem 3.2rem;
    width: max-content;
    margin: 3.5rem 0;
    border: none;

    &:hover {
      background-color: darken($ui-green-0, 10%);
    }
  }
}
