:global(#philosophie) {
  background-image: none;

  @include lg {
    overflow: hidden;
    position: relative;
    height: 100vh;

    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: 0;
      height: 68vh;
      width: 100vw;
      background-image: url("$lib/assets/philosophie/background.svg");
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

.container {
  @include sm-md {
    margin: 7rem auto;
  }
  @include lg {
    margin: 5.5rem auto;
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    line-height: 3rem;
    font-weight: 500;

    h1 {
      @include sm-md {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      @include md {
        font-size: 3rem;
        margin-bottom: 2rem;
      }
    }

    p {
      @include sm-md {
        font-size: 1.6rem;
        line-height: 1.6rem;
      }
      @include md {
        font-size: 1.8rem;
        line-height: 2.5rem;
      }
      max-width: 70rem;
    }

    .programs {
      @include sm-md {
        margin-top: 5rem;
        row-gap: 5rem;
      }

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 14rem;

      .program {
        @include sm {
          width: calc(100% / 1);
        }

        @include md {
          width: calc(100% / 3);
        }

        @include lg {
          width: calc(100% / 3);
        }

        display: flex;
        flex-direction: column;
        align-items: center;

        &__link {
          width: 100%;
          @media (hover: hover) and (pointer: fine) {
            &:hover {
              .program__btn {
                background-color: $ui-blue-0;
              }
            }
          }
        }

        &__card {
          @include sm {
            gap: 2.5rem;
          }
          @include md {
            flex-direction: column;
            align-items: center;
            gap: 0;
          }

          width: 100%;
          position: relative;
          display: flex;

          img {
            @include sm {
              max-width: 11.2rem;
            }
            @include md {
              max-width: 17rem;
            }

            @include lg {
              max-width: 22.5rem;
            }
          }

          .program__title {
            @include sm {
              font-size: 1.8rem;
            }
            @include md {
              font-size: 2rem;
            }
            @include sm-md {
              margin-top: 1.5rem;
            }
            @include lg {
              font-size: 2.5rem;
              margin-top: 3.2rem;
            }

            font-weight: 500;
          }
        }

        &__content {
          @include sm {
            align-items: start;
          }
          @include md {
            align-items: center;
          }
          display: flex;
          flex-direction: column;
        }

        .program__btn {
          @include sm {
            border-radius: 1.5rem;
            padding: 0.25rem 1.5rem;
            margin: 1.5rem 0;
          }

          @include md {
            border-radius: 1.5rem;
            padding: 0.5rem 2.1rem;
            margin: 3.2rem 0;
          }

          @include transition;
          background-color: rgba($ui-gray-8, 0.3);
          color: $white;
          font-size: 1.5rem;
        }
      }
    }
  }
}
